<p class="lovrnet-intro-p">
    LOVRNET provides services for low vision patients. Scroll down to read more about my involvement.</p>
<p>
    <div class="img-wrapper">
        <img ng-click="toggleModal('lovrnet1')" class="three-up-first" ng-src="{{imageLocations[1]}}" />
        <img ng-click="toggleModal('lovrnet2')" class="three-up-second" ng-src="{{imageLocations[2]}}" />
        <img ng-click="toggleModal('lovrnet3')" class="three-up-third" ng-src="{{imageLocations[3]}}" />
    </div>
</p>
<h3>Background</h3>
<p>Low vision refers to chronic disabling visual impairments that cannot be corrected with eyeglasses or with medical or surgical treatment. The most recent estimates indicate that between 4 and 5 million Americans presently have low vision and that number is expected to double over the next two decades.</p>
<p>LOVRNET addresses this concern as a community-based healthcare network, governed and operated by local Lions, that is dedicated to the expansion, improvement, and use of local low vision rehabilitation services.</p>
<div class="img-wrapper">
    <img ng-click="toggleModal('lovrnet_flow1')" class="two-up two-up-first" ng-src="{{imageLocations[4]}}" />
    <img ng-click="toggleModal('lovrnet_flow2')" class="two-up two-up-second" ng-src="{{imageLocations[5]}}" />
</div>
<h3>My involvement</h3>
<p>I was consulted to design and build the LOVRNET system so understanding the current state of low vision rehabilitation was crucial. I also met with the project leaders to discuss the project goals, business model, and technical features.</p>
<p>Following my research and these meetings, I created design concepts and user flow diagrams visually depicting all requirements. The visual design was created using a mix of low vision design best practices and traditional design principles. Intuitive system functions were fundamental in these efforts.</p>
<p>Drupal developers were responsible for interfacing with me to build the functionality. I used my HTML/CSS expertise to create pixel perfect views.</p>
<!--<div class="img-wrapper">
    <img ng-click="toggleModal('lovrnet4')" class="nine-up" ng-src="{{imageLocations[25]}}" />
    <img ng-click="toggleModal('lovrnet5')" class="nine-up" ng-src="{{imageLocations[26]}}" />
    <img ng-click="toggleModal('lovrnet6')" class="nine-up last-col" ng-src="{{imageLocations[27]}}" />
    <img ng-click="toggleModal('lovrnet7')" class="nine-up" ng-src="{{imageLocations[28]}}" />
    <img ng-click="toggleModal('lovrnet8')" class="nine-up" ng-src="{{imageLocations[29]}}" />
    <img ng-click="toggleModal('lovrnet9')" class="nine-up last-col" ng-src="{{imageLocations[30]}}" />
    <img ng-click="toggleModal('lovrnet10')" class="nine-up" ng-src="{{imageLocations[31]}}" />
    <img ng-click="toggleModal('lovrnet11')" class="nine-up" ng-src="{{imageLocations[32]}}" />
    <img ng-click="toggleModal('lovrnet12')" class="nine-up last-col" ng-src="{{imageLocations[33]}}" />
</div>-->
