<div class="img-wrapper">
    <img ng-click="toggleModal('lolzandroid-portfolio_ss1')" class="three-col" ng-src="{{imageLocations[27]}}" />
    <img ng-click="toggleModal('lolzandroid-portfolio_ss2')" class="three-col" ng-src="{{imageLocations[28]}}" />
    <img ng-click="toggleModal('lolzandroid-portfolio_ss3')" class="three-col" ng-src="{{imageLocations[29]}}" />
</div>
<p class="view-website"><a href="https://play.google.com/store/apps/details?id=com.lucasgruber.lolz" target="_blank">View in Play Store</a></p>
<p>Lolz is a funny picture sharing application. You can browse the collection or create an account and upload your own pictures. Users with the most aggregated likes get featured on the leaderboard.</p>
<p>I created this application out of the desire to learn the full stack and build an entire Android hybrid application myself. I used the Ionic Framework with AngularJS and NodeJS. A lot of the modern Android UI components are not yet supported by Ionic so I created them from scratch. The AngularJS interfaces with REST API's built with MongoDB, Express, and NodeJS. The API's are hosted with Heroku and the images hosted with Amazon S3.</p>
