<div class="img-wrapper sleeknotion-img-wrapper">
    <img ng-click="toggleModal('sleeknotion2')" class="two-up two-up-first" ng-src="{{imageLocations[17]}}" />
    <img ng-click="toggleModal('sleeknotion3')" class="two-up two-up-second" ng-src="{{imageLocations[18]}}" />
</div>
<div class="img-wrapper sleeknotion-img-wrapper">
    <img ng-click="toggleModal('sleeknotion4')" class="two-up two-up-first" ng-src="{{imageLocations[19]}}" />
    <img ng-click="toggleModal('sleeknotion1')" class="two-up two-up-second" ng-src="{{imageLocations[16]}}" />
</div>
<div class="img-wrapper sleeknotion-img-wrapper">
    <img ng-click="toggleModal('sleeknotion5')" class="two-up two-up-first" ng-src="{{imageLocations[20]}}" />
    <img ng-click="toggleModal('sleeknotion6')" class="two-up two-up-second" ng-src="{{imageLocations[21]}}" />
</div>

<p>The above screenshots are a few examples of my design style. I’ve been actively designing and developing websites for over 5 years. I employ modern design trends with traditional design principles to create usable web sites. Through this process I have become well versed in HTML5, CSS3, SASS/LESS, JavaScript, jQuery, and AngularJS as well as WordPress and Drupal Content Management Systems. I believe users should have a desirable experience that caters to the business model.</p>