<div class="img-wrapper">
    <img ng-click="toggleModal('asortly1')" class="two-up two-up-first" ng-src="{{imageLocations[7]}}" />
    <img ng-click="toggleModal('asortly4')" class="two-up two-up-second" ng-src="{{imageLocations[10]}}" />
</div>

<p>Asortly is an Applicant Tracking System (ATS) web application that ranks applicants on culture fit match. An employer creates a job post and culture fit survey. Candidates apply to the job with their resume and culture fit survey responses. The candidate is then matched with the employer from 0% to 100% similar to the OkCupid matching algorithm.</p>

<p>In addition to the culture fit match, employers could view the applicants cover letter, references, past experience, average job duration, and then choose to “like” or “dislike” a candidate.</p>

<p>I was responsible for the UX, Interface Design, and Front-End Development (AngularJS interacting with RESTful service).</p>

<div class="img-wrapper">
    <img ng-click="toggleModal('asortly3')" class="two-up two-up-first" ng-src="{{imageLocations[9]}}" />
    <img ng-click="toggleModal('asortly2')" class="two-up two-up-second" ng-src="{{imageLocations[8]}}" />
</div>