<p class="lovrnet-intro-p">This project was a great UX design experience. Scroll down to read more about the process.</p>

<p>
<div class="img-wrapper">
    <img ng-click="toggleModal('lovrnet1')" class="three-up-first" ng-src="{{imageLocations[1]}}" />
    <img ng-click="toggleModal('lovrnet2')" class="three-up-second" ng-src="{{imageLocations[2]}}" />
    <img ng-click="toggleModal('lovrnet3')" class="three-up-third" ng-src="{{imageLocations[3]}}" />
</div>
</p>

<p class="less-important">The Lions Low Vision Rehabilitation Network (LOVRNET) was built in conjunction with Multiple District 22 Lions Vision Research Foundation and Lions Vision Research and Rehabilitation Center at the Johns Hopkins Wilmer Eye Institute.</p>

<p>Low vision refers to chronic disabling visual impairments that cannot be corrected with eyeglasses or with medical or surgical treatment. The most recent estimates indicate that between 4 and 5 million Americans presently have low vision and that number is expected to double over the next two decades.</p>

<p>LOVRNET addresses this concern as a community-based healthcare network, governed and operated by local Lions, that is dedicated to the expansion, improvement, and use of local low vision rehabilitation services. It is made of 2 components:</p>

<ol><li>Patient Management</li>
<li>Low Vision Product Catalog</li></ol>

<p><strong>Patient Management</strong></p>
<ul>
<li>Patient enrolls in the system and gets assigned to a Lion volunteer.</li>
<li>The Lion volunteer:</li>
<ul><li>Analyzes the patient’s current condition with a patient interview</li>
<li>Helps find a low vision doctor</li>
<li>Sends patient reports to the doctor</li>
<li>Makes doctor appointments</li>
<li>Provides assistance in the home</li>
<li>Schedules car rides to the doctor appointment.</li></ul>
<li>Doctors:</li>
<ul><li>Access patients’ medical and health history</li>
<li>Manage patient appointments</li></ul></ul>

<p><strong>The Low Vision Product Catalog</strong></p>
<ul><li>Over 10 vendors</li>
<li>Prescription and Over-the-counter products</li>
<li>Doctors have access to wholesale prescription products</li>
<li>Doctors can ship products to office or patient.</li></ul>

<p>I immersed myself in the world of low vision rehabilitation to understand how the system should be built to accommodate the older generations who would be using the software. I also met with the project leaders to discuss the project goals, business model, and technical features. Following these meetings, I created design concepts and user flow diagrams to show the functionality of the system.</p>

<div class="img-wrapper">
    <img ng-click="toggleModal('lovrnet_flow1')" class="two-up two-up-first" ng-src="{{imageLocations[4]}}" />
    <img ng-click="toggleModal('lovrnet_flow2')" class="two-up two-up-second" ng-src="{{imageLocations[5]}}" />
</div>

<p>The final design is a mix of low vision design best practices and traditional design principles to create an interface that is minimalistic and intuitive. It was important to use high contrast colors and clearly distinguish between sections of the site with adequate white spacing.</p>

<p>Any functionality that required the user to take multiple steps was made very easy by eliminating unnecessary options to create a very intuitive process.</p>

<p>The user flow diagrams in addition to technical feature write-ups depicted the functionality for the Drupal developers. They were responsible for interfacing with the database using PHP and I used by HTML/CSS expertise to create pixel perfect views.</p>

<!--<div class="img-wrapper">
    <img ng-click="toggleModal('lovrnet4')" class="nine-up" ng-src="{{imageLocations[25]}}" />
    <img ng-click="toggleModal('lovrnet5')" class="nine-up" ng-src="{{imageLocations[26]}}" />
    <img ng-click="toggleModal('lovrnet6')" class="nine-up last-col" ng-src="{{imageLocations[27]}}" />
    <img ng-click="toggleModal('lovrnet7')" class="nine-up" ng-src="{{imageLocations[28]}}" />
    <img ng-click="toggleModal('lovrnet8')" class="nine-up" ng-src="{{imageLocations[29]}}" />
    <img ng-click="toggleModal('lovrnet9')" class="nine-up last-col" ng-src="{{imageLocations[30]}}" />
    <img ng-click="toggleModal('lovrnet10')" class="nine-up" ng-src="{{imageLocations[31]}}" />
    <img ng-click="toggleModal('lovrnet11')" class="nine-up" ng-src="{{imageLocations[32]}}" />
    <img ng-click="toggleModal('lovrnet12')" class="nine-up last-col" ng-src="{{imageLocations[33]}}" />
</div>-->