<div class="img-wrapper">
    <img ng-click="toggleModal('clip1')" class="three-col" ng-src="{{imageLocations[12]}}" />
    <img ng-click="toggleModal('clip2')" class="three-col" ng-src="{{imageLocations[13]}}" />
    <img ng-click="toggleModal('clip3')" class="three-col" ng-src="{{imageLocations[14]}}" />
</div>

<p>Clip is a mobile app that uses short candidate video clips to initiate the conversation with interested employers.</p>

<p>I was responsible for the UX and visual design for the iOS application.</p>

<p>The visual design was created out of my passion for intuitive and minimal interfaces. Using the established design style, I created a user flow diagram to showcase the relationship of the views to the iOS developer.</p>

<p>I also helped with the iOS development by owning Xcode’s Auto Layout to create a flexible design for all iOS devices.</p>

<div class="img-wrapper">
    <img ng-click="toggleModal('clip4')" class="three-col" ng-src="{{imageLocations[22]}}" />
    <img ng-click="toggleModal('clip5')" class="three-col" ng-src="{{imageLocations[23]}}" />
    <img ng-click="toggleModal('clip6')" class="three-col" ng-src="{{imageLocations[24]}}" />
</div>