<div class="img-wrapper">
    <img ng-click="toggleModal('lolz1')" class="three-col" ng-src="{{imageLocations[27]}}" />
    <img ng-click="toggleModal('lolz2')" class="three-col" ng-src="{{imageLocations[28]}}" />
    <img ng-click="toggleModal('lolz3')" class="three-col" ng-src="{{imageLocations[29]}}" />
</div>
<p>lolz is a simple funny picture sharing application. You can browse the collection or create an account and upload your own pictures.</p>

<p>My first app where I designed and developed everything myself. AngularJS on the front-end interfaces with REST API’s built with MongoDB, Express, and NodeJS on the backend. Utilizes AWS S3 for scalable image hosting and prerender.io for cached web pages that can be crawled by Facebook and search engines. Hosted with Heroku.</p>
